:root {
  --app-name-img-width: 80px;
}

.p-big {
  font-size: 1.4rem;
  font-weight: 700;
}

.img-normal {
  width: 240px;
  height: auto;
  object-fit: cover;
}

.img-normal svg {
  width: 100% !important;
  height: 100% !important;
}

.img-theme {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s;
  transform: scale(1);
}

.img-theme:hover {
  transform: scale(1.1);
  box-shadow: -5px 5px 5px #cecece;
}

/*.b-normal {
  display: flex;
  flex-wrap: wrap;
}*/

.a-button,
.a-button-cover {
  border-radius: 2rem;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: var(--theme-color, #42b983);
  color: var(--theme-color, #42b983);
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.05rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem 1rem;
  padding: 0.75em 2rem;
  text-decoration: none;
  transition: 0.15s;
}

.a-button-cover {
  background-color: var(--theme-color, #42b983);
  color: #fff !important;
}

.a-button:hover,
.a-button-cover:hover {
  color: inherit;
  opacity: 0.8;
}

/* 没有元素时隐藏侧边栏 */
.b-main-hide button.sidebar-toggle {
  display: none !important;
}

.b-main-hide aside.sidebar {
  display: none !important;
  transform: none !important;
}

.b-main-hide section.content {
  transform: none !important;
  left: 0 !important;
}

/* logo 图片 */
a.app-name-link img {
  width: var(--app-name-img-width);
}

/* 主题卡片 */
.theme-card {
  padding: 1rem;
  width: 100%;
  min-width: 300px;
}

.theme-content {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: rgb(0, 0, 0, 0.1) 0 1px 3px 0, rgb(0, 0, 0, 0.06) 0 1px 2px 0;
  transition: all 0.2s;
}

.theme-img {
  width: 100%;
  color: inherit;
  text-decoration: inherit;
  display: block;
  padding-top: 56.25%;
  background-color: transparent;
  background-size: cover;
}

.theme-button {
  display: flex;
  padding: 1rem;
  border-top: 1px rgb(234, 234, 234);
  align-items: center;
  justify-content: space-between;
}

.theme-text {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.theme-icon {
  color: inherit;
  text-decoration: inherit;
  font-size: 0.875rem;
  background-color: transparent;
}

.theme-icon:first-of-type {
  margin-right: 1rem;
}

.theme-icon img{
  width: 1rem;
}
